
<!doctype html>
<html>
<head>
     <title>Flask LED On/Off buttons</title> <!-- title of the web page -->
<style> 

.btn1 {background-color: #42FF29; 		
		height: 100px;
		width: 250px;
		font-size: 75px;
		} 
.btn2 {background-color: #F00A0A;
		height: 100px;
		width: 250px;
		font-size: 75px;
		}

</style>
</head>
<body>
<form method="POST">
     <button type="submit" name="btn1" class="button btn1" value="btn1" >On</button> <!-- creates a submit form to add the on button -->
	 <button type="submit" name="btn2" class="button btn2" value="btn2" >Off</button> <!-- creates a submit form to add the off button -->
</form>
</body>
</html>
